---
import { repository, midudev, initiative } from "@/data"
import { projects } from "@/data/projects"
import Layout from "@/layouts/Layout.astro"
import Link from "@/components/Link.astro"
import Card from "@/components/Card.astro"
---

<Layout>
    <header class="flex flex-col items-center justify-center gap-0 xl:gap-3.5">
        <h1
            class="font-bold text-[4.3rem] xl:text-6xl text-center tracking-tighter text-transparent bg-clip-text bg-linear-to-b from-amber-300 to-amber-950/30 select-none"
        >
            &nbsp;100 JS&nbsp;
        </h1>
        <h2 class="max-w-[40ch] text-base text-center text-pretty text-stone-400">
            Resolution of the <Link title={midudev.title} url={midudev.url} /> initiative: <Link
                title={initiative.title}
                url={initiative.url}
            />, developed using pure JavaScript, HTML, CSS, and Tailwind CSS in this version.
        </h2>
    </header>

    <nav class="mt-16 flex items-center justify-between gap-3 font-mono text-xs uppercase">
        <span class="text-stone-400">{projects.length}/100</span>
        <Link title={`${repository.title} ↗`} url={repository.url} />
    </nav>

    <section class="mt-4 xl:mt-5 grid sm:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8">
        {projects.map((item, index) => <Card id={index + 1} title={item.title} url={item.url} image={item.image} />)}
    </section>
</Layout>
