---
import type { Project } from "@/types"

interface Number {
    id?: number
}

type Props = Number & Project
const { id, title, url, image } = Astro.props as Props
const formattedId = id?.toString().padStart(3, "0")
---

<div>
    <a href={url} class="block relative aspect-video rounded-xl overflow-hidden group transition duration-200" target="_blank">
        <img
            src={image}
            alt={`${title} - Proyecto #${formattedId}`}
            class="w-full h-full rounded-xl object-cover object-center transition duration-200 group-hover:scale-105"
        />
        <span class="tag absolute bottom-1.5 right-1.5 font-medium text-stone-950 bg-stone-50/80 backdrop-blur-3xl"
            >#{formattedId}</span
        >
    </a>
    <hgroup class="mt-2.5 font-semibold tracking-tight text-lg">{title}</hgroup>
</div>
