---
import "@/styles/global.css"
import { Font } from "astro:assets"
import { site } from "@/data"

const canonical = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang={site.lang} class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="canonical" href={canonical} />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{site.title}</title>
        <meta name="title" content={site.title} />
        <meta name="description" content={site.description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={site.url} />
        <meta property="og:title" content={site.title} />
        <meta property="og:description" content={site.description} />
        <meta property="og:image" content={site.preview} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:url" content={site.url} />
        <meta name="twitter:title" content={site.title} />
        <meta name="twitter:description" content={site.description} />
        <meta name="twitter:image" content={site.preview} />
        <Font cssVariable="--font-sans" />
        <Font cssVariable="--font-mono" />
    </head>
    <body
        class="w-full min-h-dvh px-6 py-16 sm:px-9 md:px-12 lg:px-14 lg:pt-20 xl:px-30 xl:pt-30 2xl:px-45 relative text-stone-200 bg-[#0c0900] selection:text-white selection:bg-amber-400/15"
    >
        <div
            class="-z-30 absolute top-0 bottom-0 left-0 right-0 bg-[radial-gradient(circle_500px_at_50%_130px,#533c0c4d,transparent)]"
        >
        </div>
        <slot />
    </body>
</html>
